@import url(https://db.onlinewebfonts.com/c/0ab46e1b2f236c9fad58c1e34cdecdf1?family=Roobert+TRIAL);

@font-face {
    font-family: "Roobert TRIAL";
    src: url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.eot");
    src: url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.svg#Roobert TRIAL")format("svg");
}

* {
    box-sizing: border-box;
    font-family: 'Roobert TRIAL', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--theme-black);
    --theme-black: #1A1B1C;
    --theme-grey: rgba(26, 27, 28, 0.70);
    --theme-highlight-grey: #F3F3F4;
}

a {
    text-decoration: none;
    color: inherit;
}
p{
    color: inherit;
}
ul{
    margin: 0;
    padding: 0;
}

li{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1.25rem 2rem;
    width: 100%;

}

.header__logo--wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    padding-right: 1rem;
    text-transform: uppercase;
}

.header__logo--location {
    color: var(--theme-grey);
}

.black__btn {
    height: 2rem;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #FCFCFC;
    background-color: var(--theme-black);
    font-size: 10px;
}

.body {
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.landing__body {
    justify-content: space-between;
}

.landing__btn {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--theme-grey);
    letter-spacing: -2%;
    width: 15rem;
    cursor: pointer;
}

.left-arrow {
    padding-right: 1rem;
}

.right-arrow {
    transform: rotate(180deg);
    padding-right: 1rem;
}

.landing__title--wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__title {
    width: 100%;
    max-width: 848px;
    font-size: 8rem;
    text-align: center;
}

.triangle {
    position: absolute;
    z-index: -1;
}

.left {
    left: 0;
}

.right {
    transform: rotate(180deg);
    right: 0;
}

.landing__footer {
    width: 316px;
    font-size: 14px;
    color: var(--theme-grey);
    text-transform: uppercase;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 1;
}

.form {
    position: relative;
    overflow: hidden;
}

.back {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.proceed {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    display: flex;
    justify-content: flex-end;
}

.form__header {
    text-transform: uppercase;
    position: absolute;
    top: 0rem;
    left: 3rem;
    letter-spacing: -2%;
    font-size: 1rem;
}

.form__bgk--img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}


.question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__question {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: var(--theme-grey);
}

.question__input {
    font-size: 3.75rem;
    line-height: 4rem;
    letter-spacing: -7%;
    font-weight: 400;
    min-width: 1rem;
    max-width: 36rem;
    outline: none;
    text-align: center;
    color: var(--theme-black);
    border: none;
    text-decoration: underline var(--theme-black) solid 3px;
    caret: var(--theme-black) auto bar;
    background-color: transparent;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.option {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option__para {
    position: absolute;
    text-transform: uppercase;
    width: 10rem;
}

.camera-pointer {
    position: absolute;
    top: 279px;
    right: 279px;
}

.camera__para {
    top: 225px;
    right: 120px;
    z-index: 1;
}

.gallery-pointer {
    position: absolute;
    transform: scale(-1);
    top: 415px;
    left: 270px;
}

.gallery__para {
    top: 450px;
    left: 120px;
    z-index: 1;
}

.preparing__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}

.preparing__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preparing__text {
    text-transform: uppercase;
    line-height: 1.5rem;
    font-weight: bold;
}

.results {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}

.results__buttons {
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transform: rotate(45deg);
}

.results__button {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: var(--theme-highlight-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

.results__button:hover {
    background-color: #E1E1E2;
    cursor: pointer;
}

.results__button--text {
    transform: rotate(-45deg);
}

.subtitle__para {
    text-transform: uppercase;
    position: absolute;
    left: 3rem;
    top: 4rem;
}

.demographicpage {
    width: 100%;
    height: 100%;
}

.demographics {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.demo__title {
    margin: 3rem 0 0 0;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -6%;
}

.demo__subtitle {
    margin: 1rem 0 3rem 0;
    text-transform: uppercase;
    color: var(--theme-grey);
    font-weight: 400;
}
.demographic__info,
.demographic__confidence {
    background-color: var(--theme-highlight-grey);
    height: 60%;
    max-height: 544px;
}

.demographic__selectors{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.demographic__selector{
    margin-bottom: 1rem;
    background-color: var(--theme-highlight-grey);
    width: 100%;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -2%;
    border-top: 2px solid var(--theme-black);
}

.selected{
    margin-bottom: 3rem;
}

.demographic__info{
    width: 60%;
    margin: 0 1rem;
    border-top: 2px solid var(--theme-black);
    font-size: 3rem;
    padding: 0 1rem;
}
.demographic__confidence{
    width: 25%;
    border-top: 2px solid var(--theme-black);
    text-transform: uppercase;
}

.confidence{
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
}

.confidence__radio{
    padding-right: 1rem;
}

.grey__hover:hover{
    background-color: #E1E1E2;
    cursor: pointer;
}

.disclaimer{
    text-transform: uppercase;
    color: var(--theme-grey);
    font-size: 14px;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

}

.black{
    background-color: var(--theme-black);
    color: var(--theme-highlight-grey);
}
