@import url(https://db.onlinewebfonts.com/c/0ab46e1b2f236c9fad58c1e34cdecdf1?family=Roobert+TRIAL);

@font-face {
    font-family: "Roobert TRIAL";
    src: url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.eot");
    src: url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.svg#Roobert TRIAL")format("svg");
}

* {
    font-family: 'Roobert TRIAL', Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    --theme-black: #1A1B1C;
    --theme-grey: rgba(26, 27, 28, 0.70);
    --theme-highlight-grey: #F3F3F4;
    color: var(--theme-black);
    overflow: hidden;
}

input {
    border: none;
    background-color: inherit;
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: inherit;
}


p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

button {
    background-color: inherit;
    border: none;
}

.container {
    z-index: 2;
    width: 100%;
    height: calc(97vh - 4rem);
    overflow: hidden;
}

.row {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    position: relative;
    margin: 2rem;
    background-color: transparent;
}

.black__btn {
    height: 2rem;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #FCFCFC;
    background-color: var(--theme-black);
    font-size: 10px;
    cursor: pointer;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.left {
    left: 0;
}

.rightside {
    right: 0;
}

.proceed {
    flex-direction: row-reverse;
}

/* 
HEADER BAR
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1.25rem 2rem;
    width: 100%;

}

.header__logo--wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    padding-right: 1rem;
    text-transform: uppercase;
}

.header__logo--location {
    color: var(--theme-grey);
}

/* 
TO START ANALYSIS
*/

.start__analysis {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.analysis__subtitle {
    font-weight: 400;
    padding: 1rem 0;
    font-size: 0.875rem;
}

/* 
BACKGROUND SQUARES
*/

#background {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.background__square {
    position: absolute;
    margin: auto;
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    z-index: 0;
}

/* 
LANDING PAGE
*/

.landing {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.right {
    transform: scaleX(-1);
}


.title {
    width: 60%;
    font-size: min(8rem, 7vw);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__right,
.button__left {
    width: 20%;
    max-width: 17rem;
    min-width: 22.5vw;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}

#nav__left {
    left: min(2rem, 2vw);
}

#nav__right {
    right: min(2rem, 2vw);
}

.button__left {
    justify-content: flex-start;
}

.button__right {
    justify-content: flex-end;
}

.button__frame {
    width: 100%;
    position: absolute;
}

.navigation__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    color: var(--theme-grey);
    letter-spacing: -2%;
    width: fit-content;
    max-width: 15rem;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    z-index: 5;
}

.navigation__button--text {
    font-size: min(1rem, 2vw)
}

.button__icon {
    padding-right: min(1rem, 1vw);
    height: min(44px, 4vw);
    min-height: 16px;
    width: auto;
}

.disclaimer {
    text-transform: uppercase;
    font-size: 0.875rem;
    width: 30vw;
    max-width: 20rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

#triangle1,
#triangle2,
#triangle3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(-1);
}

.position__centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
NEW USER FORM
*/

.form__wrapper {
    max-width: 41rem;
    max-height: 42rem;
    z-index: 10;
    transform: translate(-50%, -70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__question {
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center;
    opacity: 0.4;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input {
    font-size: 3rem;
    width: 30rem;
    text-align: center;
    color: var(--theme-black);
    border-bottom: 1px var(--theme-black) solid;
}

.form__input:focus {
    outline: none;
}

.form__input::placeholder {
    color: var(--theme-black);
}

.processing {
    font-size: 2rem;
    text-align: center;
}

.processing__dot {
    font-size: 5rem;
    line-height: 1.5rem;
    color: var(--theme-grey);
    position: relative;
}

.submitted {
    font-size: 2rem;
    text-align: center;
}

/* 
UPLOAD IMAGE FORM PAGE
*/
.image__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input__wrapper {
    width: 50%;
    height: 100%;
}

/* inside the imageinput.jsx component */

.image__input--wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__input--background {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: visible;
}

.input__background--image {
    z-index: inherit;
    width: 80%;
    height: auto;
}

.pointer,
.image__input--label {
    z-index: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
}

.pointer {
    width: 12%;
    height: auto;
}

.northeast {
    transform: translate(50%, -140%);
}

.southwest {
    transform: translate(-140%, 50%) scale(-1);
}

.image__input--label {
    width: 18vw;
    max-width: 160px;
    text-transform: uppercase;
    font-size: 0.875rem;

}

.para__northeast {
    transform: translate(10vw, -10vw);
}

.para__southwest {
    left: auto;
    right: 50%;
    transform: translate(-8vw, 8vw);
}

.image__input--button {
    z-index: 2;
    cursor: pointer;

}

.image__input--icon {
    width: 10vw;
    height: auto;
}

.loading__wrapper {
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loading__para {
    text-transform: uppercase;
    font-weight: 600;
}

/* 
POP UP MENU
*/

.popup__wrapper {
    z-index: 10;
    width: 352px;
    height: 136px;
    position: absolute;
    background-color: var(--theme-black);
    color: #FCFCFC;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.popup__gallery {
    right: 30%;
}

.popup__camera {
    left: 30%;
}

.popup__buttons--wrapper {
    border-top: 1px solid #FCFCFC;
    display: flex;
    justify-content: flex-end;
}

.popup__text,
.popup__button {
    color: #FCFCFC;
    background-color: inherit;
    text-transform: uppercase;
    padding: 1rem;
}

.popup__button {
    cursor: pointer;
    padding-right: 2rem;
}

/* 
RESULTS PAGE
*/

.results__background {
    width: min(720px, 90vw);
    height: auto
}

.results {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results__wrapper {
    width: min(60vw, 480px);
    height: min(60vw, 480px);
    transform: rotate(45deg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.results__button {
    background-color: var(--theme-highlight-grey);
    width: 48%;
    margin: 1%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.results__button:hover {
    background-color: #E1E1E2;
}

.results__button--text {
    text-transform: uppercase;
    transform: rotate(-45deg);
    width: 90%;
    font-size: min(0.85rem, 2.5vw);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* 
DEMOGRAPHICS PAGE
*/
.inverted {
    filter: invert(1);
}

#white {
    filter: invert(1);
}

.demographics__header {
    padding: 1rem 0;
    margin-bottom: 3rem;
}

.demographics__title {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    letter-spacing: -2%;
}

.demographics__subtitle {
    text-transform: uppercase;
    font-size: 0.875rem;
}

.change__buttons--wrapper {
    display: flex;
    position: absolute;
    z-index: 5;
    bottom: 1rem;
    right: 1rem;
    gap: 1rem;
}

.change__button {
    font-size: 1rem;
    height: auto;
}

.button__reset {
    border: solid var(--theme-highlight-grey) 1px;
    background-color: black;
}

.demographics__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.demographics__summary,
.demographics__details,
.demographics__breakdown {
    background-color: var(--theme-highlight-grey);
    border-top: 1px var(--theme-black) solid;
}

.demographics__summaries {
    height: 100%;
    width: 15%;
    min-width: 9rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.demographics__summary {
    width: 100%;
    height: max(13vh, 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
}

.demographics__summary--text {
    text-transform: uppercase;
    font-weight: 600;
}

.demographics__details {
    height: 70%;
    width: 60%;
    padding: 1rem;
}

.demographics__details--title {
    margin: 0;
    padding: 0;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: capitalize;
}

.details__span {
    text-transform: none;
    font-size: inherit;
}

.demographics__details--percentage {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.percentage__wrapper {
    width: max(60%, 320px);
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.donut__chart {
    z-index: 1;
}

.percentage__para {
    z-index: 2;
    font-size: 3rem;
    font-weight: 600;
}

.demographics__breakdown {
    height: 70%;
    width: 25%;
    min-width: 17rem;
}

.demographics__breakdown--item {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background-color: var(--theme-highlight-grey);
}

.breakdown__item--para {
    text-transform: uppercase;
}

.radio {
    padding-right: 1rem;
}

/* 
WEBCAM PAGE
*/

.image__preview {
    position: absolute;
    /* or relative, depending on your layout */
    top: 0;
    /* adjust as needed */
    left: 0;
    /* adjust as needed */
    z-index: 4;
    /* ensure it's above other elements */
    width: auto;
    /* or any size you want */
    height: 100%;
    /* maintain aspect ratio */
}

.webcam__container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.noContainer {
    margin: 2.5rem;
}

.webcam {
    height: max(100%, 70vw);
    z-index: 1;
}

.webcam__message {
    color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2rem;
    z-index: 5;
    width: 80%;
}

.webcam__message>ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    text-transform: uppercase;
}

.webcam__message>ul>li>img {
    padding: 0 1rem;
}

.webcam__cap {
    display: flex;
    color: #FCFCFC;
    text-transform: uppercase;
    font-size: 1.25rem;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

.webcam__icon {
    padding-left: 1rem;
}

.loading__message {
    bottom: 10%;
}

.camera__loading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.camera__loading>img {
    width: 80%;
    margin-top: 10%;
}

.success__message {
    text-transform: uppercase;
    color: #FCFCFC;
    z-index: 5;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow:
        -1px -1px 5px var(--theme-black),
        1px -1px 5px var(--theme-black),
        -1px 1px 5px var(--theme-black),
        1px 1px 5px var(--theme-black);
}

.webcam__uploading {
    position: absolute;
}

@media (max-width: 1280px) {
    .image__wrapper {
        gap: 2rem;
        overflow: visible;
    }

    .input__wrapper,
    .image__input--wrapper {
        overflow: visible;
    }

}

@media (max-width:768px) {
    .button__frame {
        display: none;
    }

    .button__right,
    .button__left {
        height: auto;
        width: 15rem;
        position: absolute;
        bottom: 2rem;
    }

    .button__right {
        right: 1rem;
    }

    .button__left {
        left: 1rem;
    }

    .navigation__button {
        width: fit-content;
        max-width: none;
    }

    .navigation__button--text {
        font-size: 1rem;
        width: fit-content;
    }

    #nav__right,
    #nav__left {
        left: auto;
        right: auto;
    }

    .button__icon {
        padding-right: 1rem;
        height: 44px;
        min-height: 16px;
        width: auto;
    }

    .disclaimer {
        left: 50%;
        transform: translateX(-50%);
        bottom: 5rem;
        max-width: none;
        width: 60%;
        min-width: 15rem;
    }

    .title {
        width: 100%;
        font-size: min(4rem, 14vw);
    }

    .form__wrapper {
        width: 90%;
    }

    .form__input {
        width: 100%;
        max-width: 30rem;
        font-size: min(8vw, 3rem);
    }

    .image__wrapper {
        flex-direction: column;
        gap: 0;
    }

    .input__wrapper {
        width: 100%;
        height: 50%;
    }

    .image__input--icon {
        width: 80px;
        height: 80px;
    }

    .pointer {
        width: 45px;
    }

    .image__input--label {
        width: 150px;
        text-align: center;
    }

    .para__northeast {
        transform: translate(60px, -100px);
    }

    .para__southwest {
        transform: translate(-35px, 75px);
    }

    .popup__wrapper {
        width: min(352px, 90%);
        min-width: 285px;
    }

    .popup__gallery,
    .popup__camera {
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
    }

    .results__button--text {
        word-wrap: break-word;
    }

    .results__wrapper {
        width: min(60vw, 480px);
        height: min(60vw, 480px);
    }


}

@media (max-width: 480px) {

    .pointer {
        visibility: hidden;
    }

    .para__northeast {
        transform: translate(-50%, 150%);
    }

    .para__southwest {
        transform: translate(50%, -250%);
    }

    .image__wrapper .input__wrapper:nth-of-type(2) {
        transform: translateY(-10%);
    }

}