@import url(https://db.onlinewebfonts.com/c/0ab46e1b2f236c9fad58c1e34cdecdf1?family=Roobert+TRIAL); 

@font-face {
    font-family: "Roobert TRIAL";
    src: url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.eot");
    src: url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.svg#Roobert TRIAL")format("svg");
}

*{
    box-sizing: border-box;
    font-family: 'Roobert TRIAL', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--theme-black);
    --theme-black: #1A1B1C;
    --theme-grey: rgba(26, 27, 28, 1);
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1.25rem 2rem
}

.header__logo--wrapper{
    display: flex;
    align-items: center;
}
.header__logo{
    padding-right: 1rem;
    text-transform: uppercase;
}

.header__logo--location{
    color: var(--theme-grey);
}

.header__btn{
    height: 2rem;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #FCFCFC ;
    background-color: var(--theme-black);
    font-size: 10px;

}