@import url(https://db.onlinewebfonts.com/c/0ab46e1b2f236c9fad58c1e34cdecdf1?family=Roobert+TRIAL);

@font-face {
    font-family: "Roobert TRIAL";
    src: url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.eot");
    src: url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/0ab46e1b2f236c9fad58c1e34cdecdf1.svg#Roobert TRIAL")format("svg");
}

* {
    font-family: 'Roobert TRIAL', Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    --theme-black: #1A1B1C;
    --theme-grey: rgba(26, 27, 28, 0.70);
    --theme-highlight-grey: #F3F3F4;
    color: var(--theme-black);
}

input {
    border: none;
    background-color: inherit;
}

button {
    background-color: inherit;
    border: none;
}

.container {
    width: 100%;
    height: calc(97vh - 4rem);
    padding: 2rem;
    overflow: hidden;
}

.row {
    width: 100%;
    height: 100%;
    position: relative;
}

.black__btn {
    height: 2rem;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #FCFCFC;
    background-color: var(--theme-black);
    font-size: 10px;
}

.bottom{
    position: absolute;
    bottom: 0;
}

.left{
    left: 0;
}

.rightside{
    right: 0;
}

.proceed{
    flex-direction: row-reverse;
}

/* 
HEADER BAR
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1.25rem 2rem;
    width: 100%;

}

.header__logo--wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    padding-right: 1rem;
    text-transform: uppercase;
}

.header__logo--location {
    color: var(--theme-grey);
}

/* 
TO START ANALYSIS
*/

.start__analysis {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: 600;
}

/* 
LANDING PAGE
*/

.landing {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.right {
    transform: scale(-1);
}


.title {
    width: 60%;
    font-size: min(8rem, 7vw);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__right,
.button__left {
    width: 20%;
    max-width: 17rem;
    display: flex;
    align-items: center;
    position: relative;
}

.button__left {
    justify-content: flex-start;
}

.button__right {
    justify-content: flex-end;
}

.button__frame {
    width: 100%;
}

.navigation__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    color: var(--theme-grey);
    letter-spacing: -2%;
    width: fit-content;
    max-width: 15rem;
    cursor: pointer;
    position: absolute;
}

.button__icon {
    padding-right: 1rem;
    height: 44px;
    max-height: 44px;
    width: auto;
}

.disclaimer {
    text-transform: uppercase;
    font-size: 0.875rem;
    width: 30vw;
    max-width: 20rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.position__centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
NEW USER FORM
*/

.form__background--img {
    z-index: 5;
    height: 100%;
}

.form__wrapper {
    max-width: 41rem;
    max-height: 42rem;
    z-index: 10;
    transform: translate(-50%, -70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__question {
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center;
    opacity: 0.4;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input{
    font-size: 3rem;
    width: 30rem;
    text-align: center;
    color: var(--theme-black);
    border-bottom: 1px var(--theme-black) solid;
}

.form__input:focus{
    outline: none;
}

.form__input::placeholder{
    color: var(--theme-black);
}

.processing{
    font-size: 2rem;
    text-align: center;
}

.submitted{
    font-size: 2rem;
    text-align: center;
}

/* 
UPLOAD IMAGE FORM PAGE
*/

.image__input--wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.image__input--button{
    z-index: 10;
    cursor: pointer;
    position: relative;
}
